body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header */

/* header {
  text-align: center;
  background-color: gray;
  height: 75px;
  display: grid;
  font-family: monospace;
  font-size: x-large;
  color: white;
} */

/* Search Bar */

.spots-container {
  display: flow-root;
    color: white;
    font-size: larger;
    margin: 20px;
    border-radius: 10px;
    width: 475px;
    border: solid;
    text-align: center;
    perspective-origin: center;
    background-color: #bdbdbd;
    height: fit-content;

}

.scroll {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.spot-card {
  width: auto;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: visible;
    height: 101vh;
    display: grid;
} 

.card-text {
  font-family: monospace;
}

.f2 {
    text-align: center;
    background-color: gray;
    height: 75px;
    margin: 0px;
    font-family: monospace;
    font-size: xx-large;
    color: white;
    padding-top: 15px;
}

.pa2 {
  text-align: center;
}

.searchbar {
  height: 40px;
    width: 50%;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 5px;
    border: solid 2px rgb(192, 192, 192);
}

/* Footer */

footer {
  text-align: center;
  background-color: thistle;
  height: 50px;
}

/* img */

.spot-img {
  max-width: 50%;  
  height: auto;  
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 10px;
}

.garamond {
  background-image: url(../public/assets/img/background.png);
  height: 1000px;
  background-size: 100%;
}